<!-- Login and SignUp Form -->
<section class="vh-100 gradient-custom">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-2 px-5 text-center">
                        <div class="mb-md-0 mt-md-4 pb-5">
                            <!-- Title and description -->
                            <h2 class="fw-bold mb-1 text-uppercase">{{ isLoginVisible ? 'Login' : 'Sign Up' }}</h2>
                            <p class="text-white-50 mb-5">{{ isLoginVisible ? 'Please enter your login and password!' : 'Please enter your details to create an account!' }}</p>
                            <!-- Display error messages -->
                            <div *ngIf="errorMessages.length > 0" class="alert alert-danger" role="alert">
                                <div *ngFor="let message of errorMessages">{{ message }}</div>
                              </div>                              
                            <!-- Display success message from backend -->
                            <div *ngIf="successMessage" class="alert alert-success" role="alert">
                                {{ successMessage }}
                            </div>  
                            <!-- Login Form -->
                                <div *ngIf="isLoginVisible" class="wholefield">
                                    <div class="form-outline form-white mb-3">
                                        <input [(ngModel)]="loginEmail" type="email" id="typeEmailX" class="form-control form-control-lg" placeholder=" " required />
                                        <label class="form-label" for="typeEmailX">Email</label>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <input [(ngModel)]="loginPassword" type="password" id="typePasswordX" class="form-control form-control-lg" placeholder=" " required />
                                        <label class="form-label" for="typePasswordX">Password</label>
                                    </div>   
                                <button class="btn btn-outline-light btn-lg px-4 position-absolute top-80 start-60 translate-middle login " (click)="onLoginSubmit()">Login</button>
                            </div>
                            <!-- SignUp Form -->
                            <div *ngIf="!isLoginVisible ">
                                <div class="form-outline form-white">
                                    <input [(ngModel)]="username" type="text" id="typeUsername" class="form-control form-control-lg" placeholder=" " required />
                                    <label class="form-label" for="typeUsername">Username</label>
                                </div>
                                <div class="form-outline form-white mb-2">
                                    <input [(ngModel)]="email" type="email" id="typeEmailSignup" class="form-control form-control-lg" placeholder=" " required />
                                    <label class="form-label" for="typeEmailSignup">Email</label>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <input [(ngModel)]="password" type="password" id="typePasswordSignup" class="form-control form-control-lg" placeholder=" " required />
                                    <label class="form-label" for="typePasswordSignup">Password</label>
                                </div>
                                <button class="btn btn-outline-light btn-lg px-4 position-absolute top-10 start-30 translate-middle signup " (click)="onSignupSubmit()">Sign Up</button>
                            </div>
                        </div>
                        <!-- Toggle between Login and SignUp forms -->
                        <div>
                            <p class="mb-2 py-3 already">
                                <a class="text-white-50 fw-bold link-animate" (click)="toggleForms()">
                                    {{ isLoginVisible ? "Don't have an account? Sign Up" : "Already have an account? Login" }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
